    <title>Home</title>
</head>
<body>
    <header>
        <div class="sidebar--menu">
            <div class="sidebar--menu__header">
                <div class="nav-brand">
                    <a href="/">InterTranslate</a>
                </div>
                <div class="sidebar--menu__close">
                    <div class="ham--menu__close--line"></div>
                    <div class="ham--menu__close--line"></div>
                </div>
            </div>
            <div class="sidebar--menu__nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/translators">Our Translators</a></li>
                    <li><a href="/translate">Translate now</a></li>
                    <li><a href="/register/sign-up">Register</a></li>
                    <li><a href="/register/sign-in">Login</a></li>
                </ul>
            </div>
        </div>
      <div class="nav-brand">
          <a href="/">InterTranslate</a>
      </div>
      <div class="header--menu">
          <p class="header--menu__button">Menu</p>
          <ul class="header--menu__content">
            <li><a href="/translators">Our professionals</a></li>
            <li><a href="/translate">Translate now</a></li>
          </ul>
      </div>
        <form class="header--input__search__form" action="/">
        <input type="text" name="search" placeholder="search for something" class="header--input__search">
        <button type="submit"><i class="fas fa-search"></i></button>
        </form>
       <% if(user){%>
        <div class="header--profile">
            <div class="header--profile__name">
                <p>Elvin</p>
                <div class="header--profile__icon">
                    <i class="fas fa-user"></i>
                    <div class="header--profile__icon--arr">
                        <i class="fas fa-sort-down"></i>
                    </div>
                </div>
            </div>
            <div class="header--profile__inner">
                <div class="header--profile__options">
                    <ul>
                        <li><a href="/profile">View Profile</a></li>
                        <li><a href="/register/logout">Logout</a></li>
                    </ul>
               </div>
            </div>
        </div>
        <%}else{%>
            <ul class="header--register">
                <li class="header--register__signin"><a href="/register/sign-in">Sign in</a></li>
                <li class="header--register__signup"><a href="/register/sign-up">Create Profile</a></li>
            </ul>
            <%}%>
        <div class="ham--menu__icon">
           <div class="ham--menu__icon--line"></div>
           <div class="ham--menu__icon--line"></div>
           <div class="ham--menu__icon--line"></div>
        </div>
    </header>
