*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
}

.with--paddingTop{
    padding-top: 5rem;
}

.header--transparent{
    background-color: rgba(233, 233, 233, 0.212);
}

.header--normal{
    background: linear-gradient(to top, grey, rgb(92, 92, 92));
}

header{
    font-family: 'Raleway', sans-serif;
    display: flex;
    position: fixed;
    z-index: 5;
    width: 100vw;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem 0;
}

.nav-brand{
    display: flex;
    align-items: center;
    font-family: 'Dancing Script', cursive; 
}

.nav-brand a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.header--menu{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
}

.header--menu__button{
    color: white;
    font-family: inherit;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease 0s;
    border-radius: 5px;
}

.header--menu__button:hover{
    background-color: white;
    color: rgb(48, 48, 48);
}

.header--menu__content{
    height: 0;
    opacity: 0;
    transform: translateY(-20%);
    position: absolute;
    top: 90%;
    width: max-content;
    background: linear-gradient(to bottom right, white, rgb(163, 163, 163));
    padding: 1rem;
    /* border-radius: 3px; */
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.39);
}

.header--menu__content li {
    list-style: none;
    margin: 0.5rem;
}
.header--menu__content li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    transition: all 0.2s ease 0s;
}

.header--menu__content  li a:hover{
   color: rgb(185, 185, 185);
}

.header--register{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header--register__signin,
.header--register__signup{
    list-style: none;
    margin: 1rem;
}

.header--register__signin a{
    background-color: transparent;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    border-radius: 2px;   
    padding: 0.6rem;
    font-size: 0.8rem;
    transition: all 0.2s ease 0s;
}

.header--register__signin a:hover{
    background-color: whitesmoke;
    color: rgb(1, 51, 68);
    border-radius: 2px;
}

.header--register__signup a{
    background-color: whitesmoke;
    padding: 0.6rem;
    font-weight: 500;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;    
    color: rgb(1, 51, 68);
    border-radius: 2px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}
.header--register__signup a:hover{
    background-color: transparent;
    color: white;
}
.header--input__search__form{
    display: flex;
    align-items: center;
    padding: 3px 0;
    border-bottom: 1.5px solid rgba(245, 245, 245, 0.959);

}
.header--input__search__form input[type="text"]{
    width: 250px;
    margin: 0 5px 0 0;
    background-color: transparent;
    height: 30px;
    font-family: 'Raleway', sans-serif;
    color: rgba(245, 245, 245, 0.959);
    border:none;
    padding: 5px;
}

.header--input__search__form input[type="text"]::placeholder {
    color: rgba(245, 245, 245, 0.959);  
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    opacity: 1; 
  }
  
  .header--input__search__form input[type="text"]:-ms-input-placeholder { 
   color: rgba(245, 245, 245, 0.959);
   text-transform: uppercase;
   font-family: 'Raleway', sans-serif;
   font-style: italic;
  }
  
  .header--input__search__form input[type="text"]::-ms-input-placeholder { 
   color: rgba(245, 245, 245, 0.959);
   text-transform: uppercase;
   font-family: 'Raleway', sans-serif;
   font-style: italic;
  }
.header--input__search__form input[type="text"]:focus{
outline: none;
background: linear-gradient(to bottom left, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(119, 119, 119, 0.514));
}

.header--input__search__form input[type="text"]:internal-autofill-selected{
    background-color: red;
}

.header--input__search__form button{
 background-color: transparent;
 border: none;
 height: 30px;
width: 30px;
}
.header--input__search__form button i{
    color: rgba(245, 245, 245, 0.959);
    font-size: 1.2rem;
    transition: 0.2s ease 0s;
}

.header--input__search__form button:hover i{
color: white;
cursor: pointer;
text-shadow: 0px 0px 3px black;
}

.header--input__search__form button:focus{
    outline: none;
}

.animateMenuClass{
    animation: animateMenu 0.2s ease 0s forwards;
}

@keyframes animateMenu {
    0%{
        height: 0;
        transform: translateY(-20%);
        opacity: 0;
    }
    10%{
        height: auto;
        opacity: 0;
        transform: translateY(-20%);
    }
    100%{
        opacity: 1;
        height: auto;
        transform: translateY(0);
    }
}

.sidebar--menu{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden scroll;
    transition: 0.3s ease 0s;
    height: 100vh;
    transform: translateX(-100%);
    background-color: rgb(255, 255, 255);
}

.sidebar--menu__header{
    display: flex;
    width: 100%;
    padding-top: 1rem;
    align-items: center;
    justify-content: space-around;
}

.sidebar--menu__header .nav-brand a{
color: black;
}

.sidebar--menu__close{
    width: 20px;
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
}
.ham--menu__close--line{
    background-color: rgb(56, 56, 56);
    width: 50px;
    height: 3px;
    transform-origin: left;
}
.ham--menu__close--line:nth-child(1){
    transform: rotateZ(45deg)  translateX(-4px) translateY(-1px);
}
.ham--menu__close--line:nth-child(2){
    transform: rotateZ(-45deg) translateX(-4px) translateY(1px);
}

.sidebar--menu__nav{
    padding:1rem;
}
.sidebar--menu__nav ul{
    text-align: center;
}
.sidebar--menu__nav ul li{
    list-style: none;
    margin: 1rem auto;
}

.sidebar--menu__nav ul li a{
    text-decoration: none;
    color: rgb(44, 44, 44);
    transition: 0.2s ease 0s;
    border-bottom: 1px solid transparent;
}
.sidebar--menu__nav ul li a:hover{
    border-color: black;
}

.ham--menu__icon{
    display: none;
    align-items: center;
    justify-content: center;
    padding: 3px 5px;
    border-radius: 5px;
    border: 3px solid white;
    cursor: pointer;
    transition: 0.2s ease 0s;
}

.ham--menu__icon--line{
    width: 20px;
    height: 4px;
    background-color: white;
    margin: 1.5px 3px;
    transition: 0.2s ease 0s;
}

.ham--menu__icon:hover{
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.521);
    background-color: rgba(172, 172, 172, 0.582);
}

.ham--menu__icon:hover .ham--menu__icon--line{
    box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.521);
}


.header--profile{
    min-width: 100px;
    position: relative;
    background-color: white;
    padding: 5px;
}

.header--profile__inner{
    width: 100%;
    position: relative;
    display: none;
}

.header--profile__name{
    width: 100px;
    padding: 5px;
    display: flex;
    cursor: pointer;
    align-items: flex-end;
    justify-content: space-around;
}

.header--profile__options{
    width: 110px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: -5px;
    padding: 4px;
    transition: 0.2s ease 0s;
  
}

.header--profile__options ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header--profile__options ul li{
    list-style: none;
}

.header--profile__options ul li a{
    text-decoration: none;
    color: rgb(121, 121, 121);
}

.header--profile__options ul li a:hover{
    color: black;
}


@media(min-width:866px){
    .sidebar--menu{
        display: none;
    }
 
}


@media(max-width:866px){
    header{
        height: 60px;
    }
    .header--profile{
        display: none;
    }
    .header--register,
    .header--input__search__form,
    .header--menu{
        display: none;
    }
    .ham--menu__icon{
        display: flex;
        flex-direction: column;
    }
}
