<%-include('./partials/up.ejs')%>
<link rel="stylesheet" href="/css/index.css">
<%-include('./partials/navbar.ejs')%>
<main>
    <div class="main--header">
        <div class="main--header__content">
            <h1>Quick. Simple. Professional.</h1>
            <p>We make it easy to enjoy efficient, affordable, professional translation and editing services. With our easy online translation services and global network of translators, you’ll enjoy fast turnaround and reliable results for any size project and any subject matter. </p>
            <div>
                <a href="/translate">Translate now</a>
            </div>
        </div>
    </div>
    </main>
</main>
<script src="/js/script.js"></script>

<%-include('./partials/foot.ejs')%>
