<%-include('./partials/up.ejs')%>
<link rel="stylesheet" href="/css/translators.css">
<%-include('./partials/navbar.ejs')%>
<main>
    <div class="main--header">

    </div>
</main>
<script src="/js/script.js"></script>
<%-include('./partials/foot.ejs')%>
